.container-padding {
  padding: 5% 7%;
}

.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.text-size-small {
  font-size: 12px;
}

.text-size-medium {
  font-size: 14px;
}

.text-size-large {
  font-size: 16px;
}

.border-none {
  border: none;
}

.opacity-50 {
  opacity: 50%;
}

.border-bottom-heading {
  border-bottom: 3px solid orange;
}
